<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>404 Page Not Found</title>
  <meta name="description" content="Fake GooGao">
  <meta name="PandJ" content="Search Engine">

  <!-- Fonts to be used -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link type="text/css" rel="stylesheet" href="/static/css/error_style.css"\>
</head>

<body>
  <center><img src="/static/Images/totoro_404.png" id="totoro"></center>
  <h1>Whoops!</h1>
  <h3>We couldn't find the page you were looking for</h3>
  <a id="home-button" href="/"><i class="fa fa-home"></i></a>
</body>
</html>
