<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fake GooGao</title>
  <meta name="description" content="Fake GooGao">
  <meta name="PandJ" content="Search Engine">

  <!-- Fonts to be used -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link type="text/css" rel="stylesheet" href="/static/css/style.css"\>
  <link type="text/css" rel="stylesheet" href="/static/css/search_bar.css"\>
</head>

<body>
  <div class="main-logo">
    <img src="/static/Images/main_logo.png"/>
  </div>

  <form action="/" method="GET">
    <input id="main-search-bar" type="text" name="keywords" /></br>
    <input id="main-submit" type="submit" value="search"/>
  </form>

</body>
</html>
