<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fake GooGao</title>
  <meta name="description" content="Fake GooGao">
  <meta name="PandJ" content="Search Engine">

  <!-- Fonts to be used -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link type="text/css" rel="stylesheet" href="/static/css/style.css"\>
  <link type="text/css" rel="stylesheet" href="/static/css/search_bar.css"\>
</head>

<body>
  <!-- <h1 id="main-logo">googao</h1> -->
  <div class="main-logo">
    <span class="logo-letters" id="g-logo">G</span>
    <span class="logo-letters" id="o-logo">o</span>
    <span class="logo-letters" id="o2-logo">o</span>
    <span class="logo-letters" id="g2-logo">g</span>
    <span class="logo-letters" id="a-logo">a</span>
    <span class="logo-letters" id="o3-logo">o</span>
  </div>

  <form action="/" method="GET">
    <input id="main-search-bar" type="text" name="keywords" ß/></br>
    <input id="main-submit" type="submit" value="search"/>
  </form>

</body>
</html>
