<!doctype html>
<html lang="en">

<body>
  <h1>Hi thereee</h1>
  <div>In the Olympian creation myth, as Hesiod tells it in the Theogony, Uranus came every night to cover the earth and mate with Gaia, but he hated the children she bore him. Hesiod named their first six sons and six daughters the Titans, the three one-hundred-handed giants the Hekatonkheires, and the one-eyed giants the Cyclopes.

Uranus imprisoned Gaia's youngest children in Tartarus, deep within Earth, where they caused pain to Gaia. She shaped a great flint-bladed sickle and asked her sons to castrate Uranus. Only Cronus, youngest and most ambitious of the Titans, was willing: he ambushed his father and castrated him, casting the severed testicles into the sea.

For this fearful deed, Uranus called his sons Titanes Theoi, or "Straining Gods." From the blood that spilled from Uranus onto the Earth came forth the Giants, the Erinyes (the avenging Furies), the Meliae (the ash-tree nymphs), and, according to some, the Telchines. From the genitals in the sea came forth Aphrodite.

The learned Alexandrian poet Callimachus reported that the bloodied sickle had been buried in the earth at Zancle in Sicily, but the Romanized Greek traveller Pausanias was informed that the sickle had been thrown into the sea from the cape near Bolina, not far from Argyra on the coast of Achaea, whereas the historian Timaeus located the sickle at Corcyra; Corcyrans claimed to be descendants of the wholly legendary Phaeacia visited by Odysseus, and by circa 500 BCE one Greek mythographer, Acusilaus, was claiming that the Phaeacians had sprung from the very blood of Uranus' castration.

After Uranus was deposed, Cronus re-imprisoned the Hekatonkheires and Cyclopes in Tartarus. Uranus and Gaia then prophesied that Cronus in turn was destined to be overthrown by his own son, and so the Titan attempted to avoid this fate by devouring his young. Zeus, through deception by his mother Rhea, avoided this fate.

These ancient myths of distant origins were not expressed in cults among the Hellenes. The function of Uranus was as the vanquished god of an elder time, before real time began.</div>

</body>
</html>
