#main-search-bar {
  font-size: 15pt;
  font-family: Open Sans;
  outline: none;
  width: 30%;
}

#main-submit {

  font-size: 10pt;
  font-family: Open Sans;
  color: #777777;
  padding: 0.5%;
  margin-top: 25px;
  border: none;
  background-color: #e0e0e0;
}

#main-submit:hover {
  background-color: #F3F3F3;
  color: #362222;
  border: 1px solid #e0e0e0;
  transition: 0.3s;
}
