<nav id="navi-bar">
  <a class="account-buttons" id="login" href="/login">Sign In</a>
  <a class="account-buttons" id="logout" href="/logout" onclick="signOut()">Sign out</a>
</nav>

<div class="main-logo">
  <img src="/static/Images/main_logo.png"/>
</div>

<form id="search-form" action="/ajaxtest" method="POST" ng-submit="search($event, query_string)">
  <input id="main-search-bar" type="text" name="keywords" ng-model="query_string"/></br>
  <input id="main-submit" type="submit" value="search"/>
</form>
