<nav class="results-navi">
  <a href="/" id="navi-title">Googao</a>
  <form ng-submit="search($event)" action="/ajaxtest" method="POST">
    <input type="text" id="navisearch"/>
    <input type="submit" style="display:none">
  </form>
  <div id="navi-tabs">
    <span class="tabs">Web</span>
    <span class="tabs">Images</span>
    <span class="tabs">History</span>
  </div>
</nav>

<div class="results" ng-repeat="result in search_results[page_number]">
  <h2 class="url-titles">{{ result.title }}</h2>
  <p class="url-desc">{{ result.description }}</p>
  <a href="result.url" class="url-links">{{ result.url }}</a>
</div>

<p ng-click="next_page()">next</p>
<p ng-click="prev_page()">prev</p>
