<nav class="results-navi">
  <a href="/" id="navi-title">Googao</a>
  <form ng-submit="search($event, results_query_string)" action="/query" method="POST">
    <input type="text" id="navisearch" name="keywords" ng-model="results_query_string" />
    <input type="submit" style="display:none">
  </form>
  <div id="navi-tabs">
    <span class="tabs" ng-click="switch_tabs('/results')">Web</span>
    <span class="tabs" ng-click="display_images()">Images</span>
    <span class="tabs" ng-show="signed_in" ng-click="display_history()">History</span>
    <span class="tabs" id="web">Widgets</span>
  </div>
</nav>
